<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Public Chat</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <!-- Custom CSS -->
    <style>
      body {
        font-family: Arial, sans-serif;
      }

      #chat {
        height: 400px;
        overflow-y: scroll;
        border: 1px solid #ccc;
        padding: 10px;
      }

      #chat .message {
        margin-bottom: 10px;
      }

      #chat .message .name {
        font-weight: bold;
      }

      #chat .message .text {
        margin-top: 5px;
      }

      #content {
        margin-top: 10px;
      }
    </style>
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
  </head>
  <body>
    <!-- Chat Section -->
    <section id="chatSection" class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <h2>Public Chat</h2>
          <div id="chat"></div>
          <form action="/message/send" method="POST" id="messageForm">
            <label for="content">Message:</label>
            <input
              type="text"
              class="form-control"
              name="content"
              id="content"
              placeholder="Enter your message"
              required
            />
            <button type="submit" id="send-button" class="btn btn-primary">
              Send
            </button>
          </form>
        </div>
      </div>
    </section>

    <!-- Bootstrap & jQuery JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Custom JS -->
    <script>
      let socket = io();
      const username = localStorage.getItem("username");
      if (username) {
        // Gunakan data respons sesuai kebutuhan
        socket.emit("new-user", username);
      } else {
        console.log("tidak ada response data");
      }

      const sendForm = document.getElementById("messageForm");
      const contentInput = document.getElementById("content");
      const messageContainer = document.getElementById("chat");

      socket.on("chat-message", (data) => {
        appendMessage(data);
      });

      sendForm.addEventListener("submit", async (e) => {
        e.preventDefault(); // Mencegah pembaruan halaman

        const formData = new FormData(sendForm); // Buat objek FormData
        const payload = new URLSearchParams(formData);

        try {
          const response = await fetch("/message/send", {
            method: "POST",
            body: payload,
          });

          if (response.status === 201) {
            // Jika permintaan berhasil, tambahkan pesan ke kontainer
            const result = await response.json();
            const message = contentInput.value;
            const data = {
              name: username,
              message: message,
            };
            appendMessageYou(data);

            // Memanggil fungsi socket send-chat-message
            socket.emit("send-chat-message", message);

            // Hapus teks dari input
            contentInput.value = "";
          } else {
            // Tangani kesalahan jika diperlukan
            console.error("Gagal mengirim pesan.");
          }
        } catch (error) {
          console.error("Terjadi kesalahan: ", error);
        }
      });

      function appendMessage(data) {
        var name = data.name;
        var text = data.message;

        var messageElement = $("<div>").addClass("message");
        var nameElement = $("<div>").addClass("name").text(name);
        var textElement = $("<div>").addClass("text").text(text);

        messageElement.append(nameElement);
        messageElement.append(textElement);

        $("#chat").append(messageElement);
      }

      function appendMessageYou(data) {
        var name = data.name;
        var text = data.message;

        var messageElement = $("<div>").addClass("message");
        var nameElement = $("<div>")
          .addClass("name")
          .text(name)
          .css("text-align", "right");
        var textElement = $("<div>")
          .addClass("text")
          .text(text)
          .css("text-align", "right");

        messageElement.append(nameElement);
        messageElement.append(textElement);

        $("#chat").append(messageElement);
      }
    </script>
  </body>
</html>
