<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat App</title>
    <style>
      * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }

      body {
        font-family: "Poppins", sans-serif;
        background-color: #110e26;
        color: #1c1e21;
      }

      main {
        height: 90vh;
        width: 100vw;
        position: relative;
        margin: 0 auto;
      }

      footer {
        height: 10vh;
        background-color: #ffffff;
      }

      .row {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        max-width: 1000px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      .colm-logo {
        display: flex;
        flex-direction: column;
        flex: 0 0 50%;
        text-align: left;
        align-items: center;
        justify-content: center;
      }

      .colm-form {
        flex: 0 0 40%;
        text-align: center;
      }

      .colm-logo img {
        max-width: 400px;
      }

      .colm-logo h2 {
        font: 26px;
        font-weight: 400;
        padding: 0 30px;
        line-height: 32px;
      }

      .colm-form .form-container {
        background-color: #292851;
        border: none;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
        margin-bottom: 30px;
        padding: 20px;
        max-width: 400px;
      }

      .colm-form .form-container input,
      .colm-form .form-container .btn-login {
        width: 100%;
        margin: 5px 0;
        height: 45px;
        vertical-align: middle;
        font-size: 16px;
      }

      .colm-form .form-container input {
        border: 1px solid #dddfe2;
        color: #1d2129;
        padding: 0 8px;
        outline: none;
      }

      .colm-form .form-container input:focus {
        border-color: #1877f2;
        box-shadow: 0 0 0 2px #e7f3ff;
      }

      .colm-form .form-container .btn-login {
        background-color: #42b72a;
        border: none;
        border-radius: 6px;
        font-size: 20px;
        padding: 0 16px;
        color: #ffffff;
        font-weight: 700;
      }

      .colm-form .form-container a {
        display: block;
        color: #1877f2;
        font-size: 14px;
        text-decoration: none;
        padding: 10px 0 20px;
        border-bottom: 1px solid #dadde1;
      }

      .colm-form .form-container a:hover {
        text-decoration: underline;
      }

      .colm-form .form-container .btn-new {
        background-color: #42b72a;
        border: none;
        border-radius: 6px;
        font-size: 17px;
        line-height: 48px;
        padding: 0 16px;
        color: #ffffff;
        font-weight: 700;
        margin-top: 20px;
      }

      .colm-form p {
        font-size: 14px;
      }

      .colm-form p a {
        text-decoration: none;
        color: #1c1e21;
        font-weight: 600;
      }

      .colm-form p a:hover {
        text-decoration: underline;
      }

      .footer-contents {
        position: relative;
        max-width: 1000px;
        margin: 0 auto;
      }

      footer ol {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        padding: 10px 0;
      }

      footer ol:first-child {
        border-bottom: 1px solid #dddfe2;
      }

      footer ol:first-child li:last-child button {
        background-color: #f5f6f7;
        border: 1px solid #ccd0d5;
        outline: none;
        color: #4b4f56;
        padding: 0 8px;
        font-weight: 700;
        font-size: 16px;
      }

      footer ol li {
        padding-right: 15px;
        font-size: 12px;
        color: #385898;
      }

      footer ol li a {
        text-decoration: none;
        color: #385898;
      }

      footer ol li a:hover {
        text-decoration: underline;
      }

      footer small {
        font-size: 11px;
      }
    </style>
  </head>

  <body>
    <!-- <div class="container-fluid h-100 mt-5">
      <div class="row justify-content-center h-100">
        <form action="/user/register" method="POST" id="registerForm">
          <table class="table">
            <tr>
              <td>ID</td>
              <td>
                <input type="text" name="id" id="id" placeholder="ID" />
              </td>
            </tr>
            <tr>
              <td>Server</td>
              <td>
                <input
                  type="text"
                  name="server"
                  id="server"
                  placeholder="Server"
                />
              </td>
            </tr>
            <tr>
              <td>Password</td>
              <td>
                <input
                  type="password"
                  name="password"
                  id="password"
                  placeholder="password"
                />
              </td>
            </tr>
            <tr>
              <td>
                <button type="submit" name="daftar" class="btn btn-primary">
                  Daftar
                </button>
              </td>
            </tr>
          </table>
        </form>
        <table>
          <tr>
            <td>Sudah punya akun? silahkan <a href="login.php">Login</a></td>
          </tr>
        </table>
      </div>
    </div> -->
    <!--end log form -->

    <main>
      <div class="row">
        <div class="colm-form">
          <div class="form-container">
            <form action="/user/register" method="POST" id="registerForm">
              <input
                type="text"
                name="id"
                id="id"
                placeholder="ID Mobile Legends"
              />
              <input
                type="text"
                name="server"
                id="server"
                placeholder="Server ID Mobile Legends"
              />
              <input
                type="password"
                name="password"
                id="password"
                placeholder="Password"
              />
              <button type="submit" class="btn-login">Register</button>
            </form>
            <a href="/AntiAyam/login">Sudah punya akun?</a>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer-contents">
        <ol>
          <li>English (UK)</li>
          <li><a href="#">മലയാളം</a></li>
          <li><a href="#">தமிழ்</a></li>
          <li><a href="#">తెలుగు</a></li>
          <li><a href="#">বাংলা</a></li>
          <li><a href="#">اردو</a></li>
          <li><a href="#">हिन्दी</a></li>
          <li><a href="#">ಕನ್ನಡ</a></li>
          <li><a href="#">Español</a></li>
          <li><a href="#">Português (Brasil)</a></li>
          <li><a href="#">Français (France)</a></li>
          <li><button>+</button></li>
        </ol>
        <small>AntiAyam © 2023</small>
      </div>
    </footer>
    <script>
      const form = document.getElementById("registerForm");
      form.addEventListener("submit", async (event) => {
        event.preventDefault();

        const id = document.getElementById("id").value; // Mengambil nilai input ID
        const server = document.getElementById("server").value; // Mengambil nilai input Server
        const password = document.getElementById("password").value; // Mengambil nilai input Password

        const url =
          "https://id-game-checker.p.rapidapi.com/mobile-legends/" +
          id +
          "/" +
          server;
        const options = {
          method: "GET",
          headers: {
            "X-RapidAPI-Key":
              "d93be65285msh8da3952a1463240p15a8c0jsnc4239879c337",
            "X-RapidAPI-Host": "id-game-checker.p.rapidapi.com",
          },
        };
        let resultApi;
        try {
          const response = await fetch(url, options);
          resultApi = await response.json();
          console.log(resultApi);
        } catch (error) {
          console.error(error);
        }

        // const response = {
        //   success: true,
        //   data: {
        //     game: "Mobile Legends",
        //     userId: "123",
        //     username: "123@2050",
        //   },
        // };

        const username = resultApi.data.username;
        const userId = resultApi.data.userId;
        const pattern = new RegExp(userId);

        const validate = pattern.test(username);
        if (!validate) {
          const response = await fetch("/user/register", {
            method: "POST",
            body: JSON.stringify({
              username: username,
              id: userId,
              password: password,
            }),
            headers: {
              "Content-type": "application/json; charset=UTF-8",
            },
          });

          if (response.ok) {
            const data = await response.json();
            if (data.message === "Pengguna berhasil terdaftar") {
              // Redirect ke halaman beranda atau halaman lainnya
              window.location.href = "/AntiAyam/login"; //redirect ke halaman /AntiAyam
            }
          } else {
            const errorData = await response.json();
            alert("register failed: " + errorData.message);
          }
        } else {
          alert("register failed akun tidak ditemukan");
        }
      });
    </script>
  </body>
</html>
